*.*
*
!*/
!/nemu/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!/npc/*
!Makefile
!README.md
!.gitignore
!init.sh
!/patch/**
!/SpinalHDL/**
!/iverilog_test/**
/fceux-am
/am-kernels
/nvboard
/rt-thread-am
/ysyxSoC
