*.*
*
!*/
!Makefile
!*.mk
!*.[cSh]
!*.cc
!.gitignore
!README.md
!Kconfig
!include/config
!include/generated
!build/riscv32-nemu-interpreter-so
!include/**
!src/**
!tools/**
!test/**
!.config
!.config.old